Repository exercism/pharo-smalltalk, pull requests merged in 2023-10, with the labels that each got.

#586 Refactoring of ExercismExerciseGenerator
  dev/src/ExercismDev/ExercismExerciseGenerator.class.st
  dev/src/ExercismDev/ExercismTestMethodGenerator.class.st
  dev/src/ExercismTests/ExercismExerciseGeneratorTest.class.st
Labels: source generation, x:action/improve, x:knowledge/intermediate, x:module/generator, x:size/medium

#593 Convert backtick (`) admonition fences to tildes (~)
  exercises/practice/pangram/.docs/introduction.md
Labels: x:size/tiny

#595 594 out of sync unit tests for resistor color duo
  dev/src/Exercise@ResistorColorDuo/ResistorColorDuoTest.class.st
  exercises/practice/resistor-color-duo/.docs/instructions.md
  exercises/practice/resistor-color-duo/.meta/tests.toml
  exercises/practice/resistor-color-duo/ResistorColorDuoTest.class.st
Labels: exercise, x:action/fix, x:action/sync, x:knowledge/intermediate, x:module/practice-exercise
